.alternating {
    margin: 0 auto;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.alternating 

.imgTD {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    /* border-radius: 50px 0 0 50px; */
    overflow: hidden;
}

.first {
    width: 6rem;
    padding-right: 1rem;
}

.second {
    width: 20rem;
    padding-right: 2rem;
}

.top * {
    padding-top: 10px;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.bottom * {
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.alternateCard {
    background-color: #EEE;
}

  tbody > tr:nth-of-type(2) {
    background-color: white;
  }