.button {
    vertical-align: middle;
    text-align: center;
    width: fit-content;
    background-color: sienna;
    color: white;
    padding: .6rem 2.45rem .6rem 2.45rem;
    border-radius: .28rem;
    margin-right: 0.5rem;
}

.centerize {
    margin: .5rem auto;
}